In [1]:
import pandas as pd

In [112]:
data = pd.read_csv("../data/Stations.csv")
data.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN

In [113]:
s = data["Daytime Routes"].str.split(expand=True).apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = "Route"
data = data.join(s)
data.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes,Route
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,N
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,W
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,N
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,W
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN,N

In [114]:
data = data[["Line", "Route", "Stop Name", "GTFS Latitude", "GTFS Longitude"]]
data.head()

      Line Route             Stop Name  GTFS Latitude  GTFS Longitude
0  Astoria     N  Astoria-Ditmars Blvd      40.775036      -73.912034
0  Astoria     W  Astoria-Ditmars Blvd      40.775036      -73.912034
1  Astoria     N          Astoria Blvd      40.770258      -73.917843
1  Astoria     W          Astoria Blvd      40.770258      -73.917843
2  Astoria     N                 30 Av      40.766779      -73.921479

In [54]:
groups = data.groupby(["Route", "Line"])
groups.get_group(("N", "Astoria"))

        Line Route             Stop Name  GTFS Latitude  GTFS Longitude
0    Astoria     N  Astoria-Ditmars Blvd      40.775036      -73.912034
1    Astoria     N          Astoria Blvd      40.770258      -73.917843
2    Astoria     N                 30 Av      40.766779      -73.921479
3    Astoria     N              Broadway      40.761820      -73.925508
4    Astoria     N                 36 Av      40.756804      -73.929575
5    Astoria     N     39 Av-Dutch Kills      40.752882      -73.932755
6    Astoria     N    Lexington Av/59 St      40.762660      -73.967258
7    Astoria     N            5 Av/59 St      40.764811      -73.973347
462  Astoria     N      Queensboro Plaza      40.750582      -73.940202

In [70]:
routes_within_line = dict(dict())
for (route, line), data in groups:
    if not route in routes_within_line.keys():
        routes_within_line[route] = {line : data}
    else:
        routes_within_line[route][line] = data

In [81]:
for rt, data in routes_within_line.items():
    print(rt)
    print(list(data.keys()), "\n")

1
['Broadway - 7Av']

2
['Broadway - 7Av', 'Clark St', 'Eastern Pky', 'Lenox - White Plains Rd', 'Nostrand']

3
['Broadway - 7Av', 'Clark St', 'Eastern Pky', 'Lenox - White Plains Rd']

4
['Eastern Pky', 'Jerome Av', 'Lexington Av']

5
['Dyre Av', 'Eastern Pky', 'Jerome Av', 'Lenox - White Plains Rd', 'Lexington Av', 'Nostrand']

6
['Lexington Av', 'Pelham']

7
['Flushing']

A
['8th Av - Fulton St', 'Liberty Av', 'Rockaway']

B
['6th Av - Culver', '8th Av - Fulton St', 'Broadway - Brighton', 'Concourse', 'Queens Blvd']

C
['8th Av - Fulton St']

D
['4th Av', '6th Av - Culver', '8th Av - Fulton St', 'Concourse', 'Queens Blvd', 'Sea Beach / West End / Culver / Brighton', 'West End']

E
['8th Av - Fulton St', 'Queens - Archer', 'Queens Blvd']

F
['63rd St', '6th Av - Culver', '8th Av - Fulton St', 'Broadway - Brighton', 'Queens Blvd', 'Sea Beach / West End / Culver / Brighton']

G
['6th Av - Culver', '8th Av - Fulton St', 'Crosstown']

J
['Jamaica', 'Queens - Archer']

L
['Canarsie']

M
['6th Av - Culver', 'Jamaica', 'Myrtle Av', 'Queens Blvd']

N
['4th Av', 'Astoria', 'Broadway - Brighton', 'Manhattan Bridge', 'Sea Beach', 'Sea Beach / West End / Culver / Brighton']

Q
['63rd St', 'Broadway - Brighton', 'Manhattan Bridge', 'Sea Beach / West End / Culver / Brighton', 'Second Av']

R
['4th Av', 'Astoria', 'Broadway', 'Broadway - Brighton', 'Queens Blvd']

S
['Franklin Shuttle', 'Lexington - Shuttle', 'Rockaway']

SIR
['Staten Island']

W
['Astoria', 'Broadway', 'Broadway - Brighton']

Z
['Jamaica', 'Queens - Archer']

In [123]:
line_orders = {
    '2' : [ 'Lenox - White Plains Rd',
            'Broadway - 7Av',
            'Clark St',
            'Eastern Pky',
            'Nostrand',
            'Eastern Pky' ],
    '3' : [ 'Lenox - White Plains Rd',
            'Broadway - 7Av',
            'Clark St',
            'Eastern Pky' ],
    '4' : [ 'Jerome Av',
            'Lexington Av',
            'Eastern Pky' ],
    '5' : [ 'Dyre Av',
            'Lenox - White Plains Rd',
            'Jerome Av',
            'Lexington Av', 
            'Eastern Pky',
            'Nostrand'],
    '6' : [ 'Pelham', 'Lexington Av' ],
    'A' : [ '8th Av - Fulton St',
            'Liberty Av',
            'Rockaway' ],
    'B' : [ 'Concourse',
            '8th Av - Fulton St',
            'Queens Blvd',
            '6th Av - Culver',
            'Broadway - Brighton',
            ], 
    'D' : [ 'Concourse',
            '8th Av - Fulton St', 
            '6th Av - Culver', 
            'Queens Blvd',
            '4th Av', 
            'West End',
            'Sea Beach / West End / Culver / Brighton' ],
    'E' : [ 'Queens - Archer',
            'Queens Blvd',
            '8th Av - Fulton St' ],
    'F' : [ 'Queens Blvd', 
            '63rd St',
            '8th Av - Fulton St',
            '6th Av - Culver',
            'Broadway - Brighton',
            'Sea Beach / West End / Culver / Brighton'],
    'G' : [ 'Crosstown', 
            '8th Av - Fulton St',
            '6th Av - Culver' ],
    'J' : [ 'Queens - Archer', 'Jamaica' ],
    'M' : [ 'Queens Blvd', 
            '6th Av - Culver', 
            'Jamaica', 
            'Myrtle Av' ],
    'N' : [ 'Astoria', 
            'Broadway - Brighton',
            'Manhattan Bridge', 
            '4th Av',
            'Sea Beach', 
           'Sea Beach / West End / Culver / Brighton' ],
    'Q' : [ 'Second Av', 
            '63rd St', 
            'Broadway - Brighton', 
            'Manhattan Bridge', 
            'Sea Beach / West End / Culver / Brighton' ],
    
    'R' : [ 'Queens Blvd',
            'Astoria', 
            'Broadway - Brighton',
            'Broadway',
            '4th Av' ],
    'W' : [ 'Astoria',
            'Broadway - Brighton',
            'Broadway' ],
    'Z' : [ 'Queens - Archer', 'Jamaica' ]
}