In [420]:
import pandas as pd
import numpy as np

In [421]:
data = pd.read_csv("../data/Stations.csv")
data.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan,0,NaN
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan,0,NaN

In [422]:
s = data["Daytime Routes"].str.split(expand=True).apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = "Route"
data = data.join(s)
data.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes,Route
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,N
0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,W
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,N
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,W
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan,0,NaN,N

In [423]:
data = data[["Station ID", "Line", "Route", "Stop Name", "GTFS Latitude", "GTFS Longitude"]]
data.head()

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude
0,1,Astoria,N,Astoria-Ditmars Blvd,40.775036,-73.912034
0,1,Astoria,W,Astoria-Ditmars Blvd,40.775036,-73.912034
1,2,Astoria,N,Astoria Blvd,40.770258,-73.917843
1,2,Astoria,W,Astoria Blvd,40.770258,-73.917843
2,3,Astoria,N,30 Av,40.766779,-73.921479

In [424]:
# this needs to be fixed 
name_groups = data.groupby(["Stop Name", "Route"])["Stop Name"]
suffix = name_groups.cumcount()+1
repeats = name_groups.transform('size')

data["Unique Name"] = np.where(repeats > 1, data["Stop Name"] + suffix.map(str), data["Stop Name"])
data[data["Unique Name"] != data["Stop Name"]]

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name
31,32,4th Av,R,36 St,40.655144,-74.003549,36 St1
40,41,Broadway - Brighton,B,7 Av,40.677050,-73.972367,7 Av1
272,272,Queens Blvd,R,36 St,40.752039,-73.928781,36 St2
277,277,Queens Blvd,B,7 Av,40.762862,-73.981637,7 Av2
421,421,Lenox - White Plains Rd,5,Gun Hill Rd,40.877850,-73.866256,Gun Hill Rd1
424,424,Lenox - White Plains Rd,5,Pelham Pkwy,40.857192,-73.867615,Pelham Pkwy1
444,444,Dyre Av,5,Gun Hill Rd,40.869526,-73.846384,Gun Hill Rd2
445,445,Dyre Av,5,Pelham Pkwy,40.858985,-73.855359,Pelham Pkwy2

In [425]:
data[data["Stop Name"] == "7 Av"]

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name
40,41,Broadway - Brighton,B,7 Av,40.677050,-73.972367,7 Av1
40,41,Broadway - Brighton,Q,7 Av,40.677050,-73.972367,7 Av
240,240,6th Av - Culver,F,7 Av,40.666271,-73.980305,7 Av
240,240,6th Av - Culver,G,7 Av,40.666271,-73.980305,7 Av
277,277,Queens Blvd,B,7 Av,40.762862,-73.981637,7 Av2
277,277,Queens Blvd,D,7 Av,40.762862,-73.981637,7 Av
277,277,Queens Blvd,E,7 Av,40.762862,-73.981637,7 Av

In [426]:
data["Name_Loc"] = data["Stop Name"] + data["GTFS Latitude"].astype(str) + data["GTFS Longitude"].astype(str)
data["Unique ID"] = data["Name_Loc"].apply(lambda x : list(data["Name_Loc"].unique()).index(x))

In [427]:
data[data["Stop Name"] == "7 Av"]

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
40,41,Broadway - Brighton,B,7 Av,40.677050,-73.972367,7 Av1,7 Av40.67705-73.972367,40
40,41,Broadway - Brighton,Q,7 Av,40.677050,-73.972367,7 Av,7 Av40.67705-73.972367,40
240,240,6th Av - Culver,F,7 Av,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238
240,240,6th Av - Culver,G,7 Av,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238
277,277,Queens Blvd,B,7 Av,40.762862,-73.981637,7 Av2,7 Av40.762862-73.981637,275
277,277,Queens Blvd,D,7 Av,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275
277,277,Queens Blvd,E,7 Av,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275

In [428]:
data.head()

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
0,1,Astoria,N,Astoria-Ditmars Blvd,40.775036,-73.912034,Astoria-Ditmars Blvd,Astoria-Ditmars Blvd40.775036-73.91203399999999,0
0,1,Astoria,W,Astoria-Ditmars Blvd,40.775036,-73.912034,Astoria-Ditmars Blvd,Astoria-Ditmars Blvd40.775036-73.91203399999999,0
1,2,Astoria,N,Astoria Blvd,40.770258,-73.917843,Astoria Blvd,Astoria Blvd40.770258-73.917843,1
1,2,Astoria,W,Astoria Blvd,40.770258,-73.917843,Astoria Blvd,Astoria Blvd40.770258-73.917843,1
2,3,Astoria,N,30 Av,40.766779,-73.921479,30 Av,30 Av40.766779-73.921479,2

In [429]:
data[data["Stop Name"] == "7 Av"]

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
40,41,Broadway - Brighton,B,7 Av,40.677050,-73.972367,7 Av1,7 Av40.67705-73.972367,40
40,41,Broadway - Brighton,Q,7 Av,40.677050,-73.972367,7 Av,7 Av40.67705-73.972367,40
240,240,6th Av - Culver,F,7 Av,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238
240,240,6th Av - Culver,G,7 Av,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238
277,277,Queens Blvd,B,7 Av,40.762862,-73.981637,7 Av2,7 Av40.762862-73.981637,275
277,277,Queens Blvd,D,7 Av,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275
277,277,Queens Blvd,E,7 Av,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275

In [430]:
# unique_names = pd.Series(data["Unique Name"].unique()).sort_values()
# data["unique_ID"] = data["Unique Name"].apply(lambda x : unique_names.loc[unique_names == x].index[0])
# data.head()

In [431]:
data.loc[(data["Route"] == 'S') & (data["Line"] == "Franklin Shuttle"),"Route"] = "S - Franklin"
data.loc[(data["Route"] == 'S') & (data["Line"] == "Rockaway"),"Route"] = "S - Rockaway"
data.loc[(data["Route"] == 'S') & (data["Line"] == "Lexington - Shuttle"),"Route"] = "S - Lexington"

In [432]:
groups = data.groupby(["Route", "Line"])
routes_within_line = dict(dict())
for (route, line), group_data in groups:
    if not route in routes_within_line.keys():
        routes_within_line[route] = {line : group_data}
    else:
        routes_within_line[route][line] = group_data

In [433]:
for rt, val in routes_within_line.items():
    print(rt)
    print(list(val.keys()), "\n")

1
['Broadway - 7Av']

2
['Broadway - 7Av', 'Clark St', 'Eastern Pky', 'Lenox - White Plains Rd', 'Nostrand']

3
['Broadway - 7Av', 'Clark St', 'Eastern Pky', 'Lenox - White Plains Rd']

4
['Eastern Pky', 'Jerome Av', 'Lexington Av']

5
['Dyre Av', 'Eastern Pky', 'Jerome Av', 'Lenox - White Plains Rd', 'Lexington Av', 'Nostrand']

6
['Lexington Av', 'Pelham']

7
['Flushing']

A
['8th Av - Fulton St', 'Liberty Av', 'Rockaway']

B
['6th Av - Culver', '8th Av - Fulton St', 'Broadway - Brighton', 'Concourse', 'Queens Blvd']

C
['8th Av - Fulton St']

D
['4th Av', '6th Av - Culver', '8th Av - Fulton St', 'Concourse', 'Queens Blvd', 'Sea Beach / West End / Culver / Brighton', 'West End']

E
['8th Av - Fulton St', 'Queens - Archer', 'Queens Blvd']

F
['63rd St', '6th Av - Culver', '8th Av - Fulton St', 'Broadway - Brighton', 'Queens Blvd', 'Sea Beach / West End / Culver / Brighton']

G
['6th Av - Culver', '8th Av - Fulton St', 'Crosstown']

J
['Jamaica', 'Queens - Archer']

L
['Canarsie']

M
['6th Av - Culver', 'Jamaica', 'Myrtle Av', 'Queens Blvd']

N
['4th Av', 'Astoria', 'Broadway - Brighton', 'Manhattan Bridge', 'Sea Beach', 'Sea Beach / West End / Culver / Brighton']

Q
['63rd St', 'Broadway - Brighton', 'Manhattan Bridge', 'Sea Beach / West End / Culver / Brighton', 'Second Av']

R
['4th Av', 'Astoria', 'Broadway', 'Broadway - Brighton', 'Queens Blvd']

S - Franklin
['Franklin Shuttle']

S - Lexington
['Lexington - Shuttle']

S - Rockaway
['Rockaway']

SIR
['Staten Island']

W
['Astoria', 'Broadway', 'Broadway - Brighton']

Z
['Jamaica', 'Queens - Archer']

In [434]:
line_orders = {
    '2' : [ 'Lenox - White Plains Rd',
            'Broadway - 7Av',
            'Clark St',
            'Eastern Pky',
            'Nostrand'
            ],
    '3' : [ 'Lenox - White Plains Rd',
            'Broadway - 7Av',
            'Clark St',
            'Eastern Pky'],
    '4' : [ 'Jerome Av',
            'Lexington Av',
            'Eastern Pky' ],
    '5' : [ 'Dyre Av',
            'Lenox - White Plains Rd',
            'Jerome Av',
            'Lexington Av', 
            'Eastern Pky',
            'Nostrand'],
    '6' : [ 'Pelham', 'Lexington Av' ],
    'A' : [ '8th Av - Fulton St',
            'Liberty Av',
            'Rockaway' ],
    'B' : [ 'Concourse',
            '8th Av - Fulton St',
            'Queens Blvd',
            '6th Av - Culver',
            'Broadway - Brighton',
            ], 
    'D' : [ 'Concourse',
            '8th Av - Fulton St', 
            '6th Av - Culver', 
            'Queens Blvd',
            '4th Av', 
            'West End',
            'Sea Beach / West End / Culver / Brighton' ],
    'E' : [ 'Queens - Archer',
            'Queens Blvd',
            '8th Av - Fulton St' ],
    'F' : [ 'Queens Blvd', 
            '63rd St',
            '8th Av - Fulton St',
            '6th Av - Culver',
            'Broadway - Brighton',
            'Sea Beach / West End / Culver / Brighton'],
    'G' : [ 'Crosstown', 
            '8th Av - Fulton St',
            '6th Av - Culver' ],
    'J' : [ 'Queens - Archer', 'Jamaica' ],
    'M' : [ 'Queens Blvd', 
            '6th Av - Culver', 
            'Jamaica', 
            'Myrtle Av' ],
    'N' : [ 'Astoria', 
            'Broadway - Brighton',
            'Manhattan Bridge', 
            '4th Av',
            'Sea Beach', 
           'Sea Beach / West End / Culver / Brighton' ],
    'Q' : [ 'Second Av', 
            '63rd St', 
            'Broadway - Brighton', 
            'Manhattan Bridge', 
            'Sea Beach / West End / Culver / Brighton' ],
    
    'R' : [ 'Queens Blvd',
            'Astoria', 
            'Broadway - Brighton',
            'Broadway',
            '4th Av' ],
    'W' : [ 'Astoria',
            'Broadway - Brighton',
            'Broadway' ],
    'Z' : [ 'Queens - Archer', 'Jamaica' ]
}

In [435]:
full_routes = dict()

single_line_routes = set(routes_within_line.keys()).difference(set(line_orders.keys()))
for rt in single_line_routes:
    key = list(routes_within_line[rt].keys())[0]
    full_routes[rt] = list(routes_within_line[rt][key]["Unique Name"])


for rt, lines in line_orders.items(): 
    full_routes[rt] = []
    for l in lines: 
        full_routes[rt] += list(routes_within_line[rt][l]["Unique Name"])

In [436]:
full_routes.keys()

dict_keys(['C', 'L', 'S - Lexington', '7', 'S - Rockaway', 'SIR', 'S - Franklin', '1', '2', '3', '4', '5', '6', 'A', 'B', 'D', 'E', 'F', 'G', 'J', 'M', 'N', 'Q', 'R', 'W', 'Z'])

In [437]:
data[data["Unique Name"] != data["Stop Name"]]

,Station ID,Line,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
31,32,4th Av,R,36 St,40.655144,-74.003549,36 St1,36 St40.655144-74.00354899999999,31
40,41,Broadway - Brighton,B,7 Av,40.677050,-73.972367,7 Av1,7 Av40.67705-73.972367,40
272,272,Queens Blvd,R,36 St,40.752039,-73.928781,36 St2,36 St40.752039-73.928781,270
277,277,Queens Blvd,B,7 Av,40.762862,-73.981637,7 Av2,7 Av40.762862-73.981637,275
421,421,Lenox - White Plains Rd,5,Gun Hill Rd,40.877850,-73.866256,Gun Hill Rd1,Gun Hill Rd40.87785-73.866256,419
424,424,Lenox - White Plains Rd,5,Pelham Pkwy,40.857192,-73.867615,Pelham Pkwy1,Pelham Pkwy40.857192-73.867615,422
444,444,Dyre Av,5,Gun Hill Rd,40.869526,-73.846384,Gun Hill Rd2,Gun Hill Rd40.869526-73.846384,442
445,445,Dyre Av,5,Pelham Pkwy,40.858985,-73.855359,Pelham Pkwy2,Pelham Pkwy40.858985-73.85535899999999,443

In [438]:
# borough hall needs to be moved above nevins st (route 4, 5)
old_loc = full_routes['4'].index("Borough Hall")
full_routes['4'].pop(old_loc)
new_loc = full_routes['4'].index("Nevins St")
full_routes['4'].insert(new_loc,'Borough Hall')

old_loc = full_routes['5'].index("Borough Hall")
full_routes['5'].pop(old_loc)
new_loc = full_routes['5'].index("Nevins St")
full_routes['5'].insert(new_loc, "Borough Hall")

# Rockaway 67 - Far rockaway needs to be swapped with 90th-116th (route A)
loc_90th = full_routes['A'].index("Beach 90 St")
for i in range(4):
    val = full_routes['A'][loc_90th]
    full_routes['A'].remove(val)
    full_routes['A'].append(val)
full_routes['A'] = full_routes['A'][:-4]

# 145th needs to be put in between 155th and 135th (route B)
# remove parkside av, beverly rd, cortelyou avenu h, av j, av m (route B)
full_routes['B'].remove("145 St")
full_routes['B'].insert(full_routes['B'].index("135 St"), "145 St")
full_routes['B'].remove("W 4 St-Wash Sq")
full_routes['B'].insert(full_routes['B'].index("Broadway-Lafayette St"), "W 4 St-Wash Sq")
full_routes['B'].remove("Parkside Av")
full_routes['B'].remove("Beverley Rd")
full_routes['B'].remove("Cortelyou Rd")
full_routes['B'].remove("Avenue H")
full_routes['B'].remove("Avenue J")
full_routes['B'].remove("Avenue M")
full_routes['B'].remove("Avenue U")
full_routes['B'].remove("Neck Rd")

# 145th needs to be put between 155th and 125th (route D)
# 7th ave after 59th st 
# wash square after 34th 
full_routes['D'].remove("145 St")
full_routes['D'].insert(full_routes['D'].index("125 St"), "145 St")
full_routes['D'].remove("7 Av")
full_routes['D'][full_routes['D'].index("W 4 St-Wash Sq")] = "7 Av"
full_routes['D'].insert(full_routes['D'].index('Broadway-Lafayette St'), "W 4 St-Wash Sq")

# ROUTE F
# 'Jay St-MetroTech' before bergen
# 'W 4 St-Wash Sq', before 'Broadway-Lafayette St'
full_routes['F'].remove("Jay St-MetroTech")
full_routes['F'].insert(full_routes['F'].index("Bergen St"), "Jay St-MetroTech")
full_routes['F'].remove("W 4 St-Wash Sq")
full_routes['F'].insert(full_routes['F'].index("Broadway-Lafayette St"), "W 4 St-Wash Sq")


# ROUTE M 
#  'W 4 St-Wash Sq', after 14th 
# reverse Myrtle - essex and metropolitan - central
full_routes['M'].remove("W 4 St-Wash Sq")
full_routes['M'].insert(full_routes['M'].index("Broadway-Lafayette St"), "W 4 St-Wash Sq")
reverse_1 = reversed(full_routes['M'][-13:-7])
reverse_2 = reversed(full_routes['M'][-7:])
full_routes['M'] = full_routes['M'][:-13]
full_routes['M'] += reverse_1
full_routes['M'] += reverse_2

# ROUTE N 
# queenseboro after 39th 
full_routes["N"].remove("Queensboro Plaza")
full_routes["N"].insert(full_routes["N"].index("Lexington Av/59 St"), "Queensboro Plaza")

# ROUTE Q
# canal after union square 
full_routes["Q"].remove("Canal St")
full_routes["Q"].insert(full_routes['Q'].index("DeKalb Av"), "Canal St")

# ROUTE R
# dekalb after jay street 
full_routes['R'].remove("DeKalb Av")
full_routes['R'].insert(full_routes['R'].index("Atlantic Av-Barclays Ctr"), "DeKalb Av")

# ROUTE W
# queensboro after 39th
full_routes["W"].remove("Queensboro Plaza")
full_routes["W"].insert(full_routes["W"].index("Lexington Av/59 St"), "Queensboro Plaza")

# ROUTE S 
# broken into separate shuttles

In [439]:
stations = data.drop("Line", axis=1)
stations.head()

,Station ID,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
0,1,N,Astoria-Ditmars Blvd,40.775036,-73.912034,Astoria-Ditmars Blvd,Astoria-Ditmars Blvd40.775036-73.91203399999999,0
0,1,W,Astoria-Ditmars Blvd,40.775036,-73.912034,Astoria-Ditmars Blvd,Astoria-Ditmars Blvd40.775036-73.91203399999999,0
1,2,N,Astoria Blvd,40.770258,-73.917843,Astoria Blvd,Astoria Blvd40.770258-73.917843,1
1,2,W,Astoria Blvd,40.770258,-73.917843,Astoria Blvd,Astoria Blvd40.770258-73.917843,1
2,3,N,30 Av,40.766779,-73.921479,30 Av,30 Av40.766779-73.921479,2

In [440]:
full_routes["S - Franklin"]

['Franklin Av', 'Park Pl', 'Botanic Garden']

In [441]:
edges = pd.DataFrame()
data_reindex = data.set_index(["Unique Name"])
edges.reindex(["Route", "To", "From"])
for key, val in full_routes.items():
    cur_route=pd.DataFrame()
    route = data_reindex[data_reindex["Route"] == key].loc[val].reset_index(drop=True)
    cur_route["To"] = route["Station ID"]
    cur_route["From"] = route["Station ID"]
    cur_route["Route"] = key
    cur_route["From"] = cur_route["From"].shift(-1)
    cur_route.dropna(inplace=True)    
    edges = edges.append(cur_route)

In [442]:
    
edges = pd.merge(
            edges, stations, left_on=["Route", "To"], right_on=["Route", "Station ID"]
        ).drop(["Station ID", "Stop Name"], axis=1
        ).rename({"GTFS Latitude" : "Latitude_1",
                  "GTFS Longitude" : "Longitude_1"},
                axis=1)

edges

,To,From,Route,Latitude_1,Longitude_1,Unique Name,Name_Loc,Unique ID
0,148,149.0,C,40.840719,-73.939561,168 St,168 St40.840719-73.939561,146
1,149,150.0,C,40.836013,-73.939892,163 St-Amsterdam Av,163 St-Amsterdam Av40.836013-73.939892,147
2,150,151.0,C,40.830518,-73.941514,155 St,155 St40.830518-73.941514,148
3,151,152.0,C,40.824783,-73.944216,145 St,145 St40.824783000000004-73.944216,149
4,152,153.0,C,40.817894,-73.947649,135 St,135 St40.817894-73.947649,150
...,...,...,...,...,...,...,...,...
729,102,103.0,Z,40.718315,-73.987437,Delancey St-Essex St,Delancey St-Essex St40.718315000000004-73.987437,101
730,103,104.0,Z,40.720280,-73.993915,Bowery,Bowery40.720279999999995-73.993915,102
731,104,105.0,Z,40.718092,-73.999892,Canal St,Canal St40.718092-73.999892,103
732,105,106.0,Z,40.713243,-74.003401,Chambers St,Chambers St40.713243-74.003401,104
733,106,107.0,Z,40.710374,-74.007582,Fulton St,Fulton St40.710374-74.007582,105

In [443]:
edges = pd.merge(
            edges, stations, left_on=["Route", "From"], right_on=["Route", "Station ID"]
        ).drop(["Station ID", "Stop Name"], axis=1
        ).rename({"GTFS Latitude" : "Latitude_2",
                  "GTFS Longitude" : "Longitude_2"},
                axis=1)

edges["Distance"] = np.sqrt(
                        (edges["Latitude_1"]-edges["Latitude_2"])**2 +
                        (edges["Longitude_1"]-edges["Longitude_2"])**2
                    )

edges

,To,From,Route,Latitude_1,Longitude_1,Unique Name_x,Name_Loc_x,Unique ID_x,Latitude_2,Longitude_2,Unique Name_y,Name_Loc_y,Unique ID_y,Distance
0,148,149.0,C,40.840719,-73.939561,168 St,168 St40.840719-73.939561,146,40.836013,-73.939892,163 St-Amsterdam Av,163 St-Amsterdam Av40.836013-73.939892,147,0.004718
1,149,150.0,C,40.836013,-73.939892,163 St-Amsterdam Av,163 St-Amsterdam Av40.836013-73.939892,147,40.830518,-73.941514,155 St,155 St40.830518-73.941514,148,0.005729
2,150,151.0,C,40.830518,-73.941514,155 St,155 St40.830518-73.941514,148,40.824783,-73.944216,145 St,145 St40.824783000000004-73.944216,149,0.006340
3,151,152.0,C,40.824783,-73.944216,145 St,145 St40.824783000000004-73.944216,149,40.817894,-73.947649,135 St,135 St40.817894-73.947649,150,0.007697
4,152,153.0,C,40.817894,-73.947649,135 St,135 St40.817894-73.947649,150,40.811109,-73.952343,125 St,125 St40.811109-73.952343,151,0.008250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,102,103.0,Z,40.718315,-73.987437,Delancey St-Essex St,Delancey St-Essex St40.718315000000004-73.987437,101,40.720280,-73.993915,Bowery,Bowery40.720279999999995-73.993915,102,0.006769
730,103,104.0,Z,40.720280,-73.993915,Bowery,Bowery40.720279999999995-73.993915,102,40.718092,-73.999892,Canal St,Canal St40.718092-73.999892,103,0.006365
731,104,105.0,Z,40.718092,-73.999892,Canal St,Canal St40.718092-73.999892,103,40.713243,-74.003401,Chambers St,Chambers St40.713243-74.003401,104,0.005985
732,105,106.0,Z,40.713243,-74.003401,Chambers St,Chambers St40.713243-74.003401,104,40.710374,-74.007582,Fulton St,Fulton St40.710374-74.007582,105,0.005071
733,106,107.0,Z,40.710374,-74.007582,Fulton St,Fulton St40.710374-74.007582,105,40.706476,-74.011056,Broad St,Broad St40.706476-74.01105600000001,106,0.005221

In [444]:
edges["To"] = edges["Unique ID_y"]
edges["From"] = edges["Unique ID_x"]

In [445]:
stations["Station ID"] = stations["Unique ID"]
stations.head()

,Station ID,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
0,0,N,Astoria-Ditmars Blvd,40.775036,-73.912034,Astoria-Ditmars Blvd,Astoria-Ditmars Blvd40.775036-73.91203399999999,0
0,0,W,Astoria-Ditmars Blvd,40.775036,-73.912034,Astoria-Ditmars Blvd,Astoria-Ditmars Blvd40.775036-73.91203399999999,0
1,1,N,Astoria Blvd,40.770258,-73.917843,Astoria Blvd,Astoria Blvd40.770258-73.917843,1
1,1,W,Astoria Blvd,40.770258,-73.917843,Astoria Blvd,Astoria Blvd40.770258-73.917843,1
2,2,N,30 Av,40.766779,-73.921479,30 Av,30 Av40.766779-73.921479,2

In [446]:
edges[["Route", "To", "From", "Distance"]].to_csv("../data/edges.csv")
stations.drop_duplicates("Unique ID").drop(["Route", "Unique Name", "Unique ID"], axis=1).to_csv("../data/station_data.csv")

In [447]:
mask = (edges["Unique Name_x"] == '7 Av') | (edges["Unique Name_y"] == '7 Av') 
edges.loc[mask]

,To,From,Route,Latitude_1,Longitude_1,Unique Name_x,Name_Loc_x,Unique ID_x,Latitude_2,Longitude_2,Unique Name_y,Name_Loc_y,Unique ID_y,Distance
424,275,159,D,40.768296,-73.981736,59 St-Columbus Circle,59 St-Columbus Circle40.768296-73.981736,159,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275,0.005435
425,223,275,D,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275,40.758663,-73.981329,47-50 Sts-Rockefeller Ctr,47-50 Sts-Rockefeller Ctr40.758663-73.981329,223,0.004210
457,275,274,E,40.760167,-73.975224,5 Av/53 St,5 Av/53 St40.760166999999996-73.975224,274,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275,0.006956
458,160,275,E,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275,40.762456,-73.985984,50 St,50 St40.762456-73.985984,160,0.004366
495,238,237,F,40.670272,-73.989779,4 Av-9 St,4 Av-9 St40.670272-73.989779,237,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238,0.010284
496,239,238,F,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238,40.660365,-73.979493,15 St-Prospect Park,15 St-Prospect Park40.660365000000006-73.979493,239,0.005962
527,238,237,G,40.670272,-73.989779,4 Av-9 St,4 Av-9 St40.670272-73.989779,237,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238,0.010284
528,239,238,G,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238,40.660365,-73.979493,15 St-Prospect Park,15 St-Prospect Park40.660365000000006-73.979493,239,0.005962
631,40,39,Q,40.684460,-73.976890,Atlantic Av-Barclays Ctr,Atlantic Av-Barclays Ctr40.684459999999994-73....,39,40.677050,-73.972367,7 Av,7 Av40.67705-73.972367,40,0.008681
632,41,40,Q,40.677050,-73.972367,7 Av,7 Av40.67705-73.972367,40,40.661614,-73.962246,Prospect Park,Prospect Park40.661614-73.962246,41,0.018458

In [448]:
stations[stations["Stop Name"] == '7 Av']

,Station ID,Route,Stop Name,GTFS Latitude,GTFS Longitude,Unique Name,Name_Loc,Unique ID
40,40,B,7 Av,40.677050,-73.972367,7 Av1,7 Av40.67705-73.972367,40
40,40,Q,7 Av,40.677050,-73.972367,7 Av,7 Av40.67705-73.972367,40
240,238,F,7 Av,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238
240,238,G,7 Av,40.666271,-73.980305,7 Av,7 Av40.666271-73.980305,238
277,275,B,7 Av,40.762862,-73.981637,7 Av2,7 Av40.762862-73.981637,275
277,275,D,7 Av,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275
277,275,E,7 Av,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275

In [449]:
edges[edges["Route"] == 'D']

,To,From,Route,Latitude_1,Longitude_1,Unique Name_x,Name_Loc_x,Unique ID_x,Latitude_2,Longitude_2,Unique Name_y,Name_Loc_y,Unique ID_y,Distance
411,209,208,D,40.874811,-73.878855,Norwood-205 St,Norwood-205 St40.874811-73.878855,208,40.873244,-73.887138,Bedford Park Blvd,Bedford Park Blvd40.873244-73.88713800000001,209,0.008430
412,210,209,D,40.873244,-73.887138,Bedford Park Blvd,Bedford Park Blvd40.873244-73.88713800000001,209,40.866978,-73.893509,Kingsbridge Rd,Kingsbridge Rd40.866978-73.893509,210,0.008936
413,211,210,D,40.866978,-73.893509,Kingsbridge Rd,Kingsbridge Rd40.866978-73.893509,210,40.861296,-73.897749,Fordham Rd,Fordham Rd40.861296-73.897749,211,0.007090
414,212,211,D,40.861296,-73.897749,Fordham Rd,Fordham Rd40.861296-73.897749,211,40.856093,-73.900741,182-183 Sts,182-183 Sts40.856093-73.900741,212,0.006002
415,213,212,D,40.856093,-73.900741,182-183 Sts,182-183 Sts40.856093-73.900741,212,40.850410,-73.905227,Tremont Av,Tremont Av40.85041-73.905227,213,0.007240
416,214,213,D,40.850410,-73.905227,Tremont Av,Tremont Av40.85041-73.905227,213,40.845900,-73.910136,174-175 Sts,174-175 Sts40.8459-73.910136,214,0.006666
417,215,214,D,40.845900,-73.910136,174-175 Sts,174-175 Sts40.8459-73.910136,214,40.839306,-73.913400,170 St,170 St40.839306-73.9134,215,0.007358
418,216,215,D,40.839306,-73.913400,170 St,170 St40.839306-73.9134,215,40.833771,-73.918440,167 St,167 St40.833771-73.91844,216,0.007486
419,217,216,D,40.833771,-73.918440,167 St,167 St40.833771-73.91844,216,40.827905,-73.925651,161 St-Yankee Stadium,161 St-Yankee Stadium40.827905-73.925651,217,0.009296
420,218,217,D,40.827905,-73.925651,161 St-Yankee Stadium,161 St-Yankee Stadium40.827905-73.925651,217,40.830135,-73.938209,155 St,155 St40.830135-73.938209,218,0.012754
421,149,218,D,40.830135,-73.938209,155 St,155 St40.830135-73.938209,218,40.824783,-73.944216,145 St,145 St40.824783000000004-73.944216,149,0.008045
422,151,149,D,40.824783,-73.944216,145 St,145 St40.824783000000004-73.944216,149,40.811109,-73.952343,125 St,125 St40.811109-73.952343,151,0.015907
423,159,151,D,40.811109,-73.952343,125 St,125 St40.811109-73.952343,151,40.768296,-73.981736,59 St-Columbus Circle,59 St-Columbus Circle40.768296-73.981736,159,0.051932
424,275,159,D,40.768296,-73.981736,59 St-Columbus Circle,59 St-Columbus Circle40.768296-73.981736,159,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275,0.005435
425,223,275,D,40.762862,-73.981637,7 Av,7 Av40.762862-73.981637,275,40.758663,-73.981329,47-50 Sts-Rockefeller Ctr,47-50 Sts-Rockefeller Ctr40.758663-73.981329,223,0.004210
426,224,223,D,40.758663,-73.981329,47-50 Sts-Rockefeller Ctr,47-50 Sts-Rockefeller Ctr40.758663-73.981329,223,40.754222,-73.984569,42 St-Bryant Pk,42 St-Bryant Pk40.754222-73.984569,224,0.005497
427,225,224,D,40.754222,-73.984569,42 St-Bryant Pk,42 St-Bryant Pk40.754222-73.984569,224,40.749719,-73.987823,34 St-Herald Sq,34 St-Herald Sq40.749719-73.98782299999999,225,0.005556
428,165,225,D,40.749719,-73.987823,34 St-Herald Sq,34 St-Herald Sq40.749719-73.98782299999999,225,40.732338,-74.000495,W 4 St-Wash Sq,W 4 St-Wash Sq40.732338-74.000495,165,0.021510
429,228,165,D,40.732338,-74.000495,W 4 St-Wash Sq,W 4 St-Wash Sq40.732338-74.000495,165,40.725297,-73.996204,Broadway-Lafayette St,Broadway-Lafayette St40.725297-73.996204,228,0.008246
430,229,228,D,40.725297,-73.996204,Broadway-Lafayette St,Broadway-Lafayette St40.725297-73.996204,228,40.718267,-73.993753,Grand St,Grand St40.718267-73.993753,229,0.007445
431,26,229,D,40.718267,-73.993753,Grand St,Grand St40.718267-73.993753,229,40.683666,-73.978810,Atlantic Av-Barclays Ctr,Atlantic Av-Barclays Ctr40.683665999999995-73....,26,0.037690
432,31,26,D,40.683666,-73.978810,Atlantic Av-Barclays Ctr,Atlantic Av-Barclays Ctr40.683665999999995-73....,26,40.655144,-74.003549,36 St,36 St40.655144-74.00354899999999,31,0.037756
433,58,31,D,40.655144,-74.003549,36 St,36 St40.655144-74.00354899999999,31,40.646292,-73.994324,9 Av,9 Av40.646291999999995-73.994324,58,0.012785
434,59,58,D,40.646292,-73.994324,9 Av,9 Av40.646291999999995-73.994324,58,40.640914,-73.994304,Fort Hamilton Pkwy,Fort Hamilton Pkwy40.640914-73.994304,59,0.005378
435,60,59,D,40.640914,-73.994304,Fort Hamilton Pkwy,Fort Hamilton Pkwy40.640914-73.994304,59,40.636260,-73.994791,50 St,50 St40.63626-73.994791,60,0.004679
436,61,60,D,40.636260,-73.994791,50 St,50 St40.63626-73.994791,60,40.631435,-73.995476,55 St,55 St40.631434999999996-73.995476,61,0.004873
437,62,61,D,40.631435,-73.995476,55 St,55 St40.631434999999996-73.995476,61,40.626472,-73.996895,62 St,62 St40.626472-73.996895,62,0.005162
438,63,62,D,40.626472,-73.996895,62 St,62 St40.626472-73.996895,62,40.619589,-73.998864,71 St,71 St40.619589000000005-73.998864,63,0.007159
439,64,63,D,40.619589,-73.998864,71 St,71 St40.619589000000005-73.998864,63,40.613501,-74.000610,79 St,79 St40.613501-74.00061,64,0.006333
440,65,64,D,40.613501,-74.000610,79 St,79 St40.613501-74.00061,64,40.607954,-74.001736,18 Av,18 Av40.607954-74.001736,65,0.005660
441,66,65,D,40.607954,-74.001736,18 Av,18 Av40.607954-74.001736,65,40.604556,-73.998168,20 Av,20 Av40.604556-73.998168,66,0.004927
442,67,66,D,40.604556,-73.998168,20 Av,20 Av40.604556-73.998168,66,40.601875,-73.993728,Bay Pkwy,Bay Pkwy40.601875-73.993728,67,0.005187
443,68,67,D,40.601875,-73.993728,Bay Pkwy,Bay Pkwy40.601875-73.993728,67,40.597704,-73.986829,25 Av,25 Av40.597704-73.986829,68,0.008062
444,69,68,D,40.597704,-73.986829,25 Av,25 Av40.597704-73.986829,68,40.588841,-73.983765,Bay 50 St,Bay 50 St40.588840999999995-73.983765,69,0.009378
445,57,69,D,40.588841,-73.983765,Bay 50 St,Bay 50 St40.588840999999995-73.983765,69,40.577422,-73.981233,Coney Island-Stillwell Av,Coney Island-Stillwell Av40.577422-73.98123299...,57,0.011696